/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
ol,
dl,
form,
label,
fieldset,
img,
audio,
video,
table,
iframe {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Container styles */
div {
    margin: 20px;
}

/* Header styles */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Text Content styles */
p {
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

span {
    display: inline-block;
    margin-bottom: 10px;
}

/* Lists styles */
ul,
ol {
    margin-bottom: 15px;
}

/* Forms styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 15px;
}

/* Multimedia styles */
img {
    width: 400px;
    height: 267px;
    margin-bottom: 15px;
    display: block;
}

/* Audio specific styling */
audio {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* Video specific styling */
#multimedia video {
    width: 400px;
    height: 225px;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tfoot {
    background-color: #f2f2f2;
}

caption {
    caption-side: bottom;
    margin-top: 10px;
}

/* Metadata styles */
meta,
base,
link {
    display: none; /* Hide metadata elements */
}
